<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aswdc_wordcross">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ActivityStartScreen" ></activity>
        <activity
            android:name=".activity.ActivityFourLetter"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".ActivitySplashScreen" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ActivityCategorySelect" />
        <activity
            android:name=".activity.ActivityFiveLetter"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.ActivityThreeLetter"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>